@import "../vars";
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.btn-orange {
    border-radius: 6px;
    background-image: $primary-gradient;
    color: #fff;
    background-size: 200% 200%;
    background-position: center;
    font-weight: 700;
    &:hover {
        color: #fff;
        background-image: $primary-gradient2;
    }
    &:active {
        color: #fff;
        background-image: $primary-gradient2;
        opacity: 0.7;
    }
}

.btn-orange-outline {
    font-weight: 400;
    font-size: 16px;
    border: 1.5px solid $primary;
    border-radius: 6px;
    color: $primary;
    &:hover {
        color: #fff;
        background-color: $primary;
        path {
            fill: #fff;
        }
    }
    &:active {
        opacity: 0.7;
    }
}

.btn-blue-outline {
    border: 1px solid $blue;
    color: $blue;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    &:hover {
        background-color: $blue;
        color: #fff;
    }
    &:active {
        opacity: 0.7;
    }
}

.swiper {
    &-button {
        &-prev,
        &-next {
            background: #F1F1F1;
            border: 1px solid #F1F1F1;
            border-radius: 4px;
            width: 28px;
            height: 28px;
            &:hover {
                border-color: $primary;
                svg {
                    path {
                        fill: $primary;
                        fill-opacity: 1;
                    }
                }
            }
        }
    }
}
