<div class="menu__inner">
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon.svg" alt="">
            <span>Роботы-пылесосы</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">
                @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon2.svg" alt="">
            <span>Пылесосы вертикальные</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">2 @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon3.svg" alt="">
            <span>Аксессуары к пылесосам</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">3 @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon4.svg" alt="">
            <span>VR очки</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">4 @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon5.svg" alt="">
            <span>Аксессуары к VR очкам</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">5 @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon6.svg" alt="">
            <span>Экшн камеры</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">6 @@include('_menu-links.html')
            </div>
        </div>
    </div>
    <div class="menu__item nst-component nst-is-collapsed nst-manual-init">
        <button class="menu__item-arrow nst-toggle">
            <img src="img/arrow-right.svg" alt="">
        </button>
        <a href="" class="menu__item-show">
            <img src="img/menu-icon7.svg" alt="">
            <span>Беспроводные наушники</span>
        </a>
        <div class="menu__item-hidden nst-content">
            <div class="menu__item-links">7 @@include('_menu-links.html')
            </div>
        </div>
    </div>


</div>

<div class="menu__backdrop"></div>