@import "../vars.scss";
.breadcrumbs {
    &__item {
        font-size: 12px;
        line-height: 167%;
        position: relative;
        font-weight: 400;
        display: inline;
        &:last-child {
            opacity: 0.5;
        }
        &:not(:first-child) {
            margin-left: 19px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 3px;
                height: 3px;
                background-color: $black;
                top: 7px;
                right: 100%;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .breadcrumbs {
        display: flex;
        align-items: center;
        overflow-x: auto;
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-left: 15px;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &__item {
            flex-shrink: 0;
        }
    }
}