@import "../vars.scss";
.cart {
    padding-bottom: 50px;
    &__title {
        margin-top: 32px;
    }
    &__inner {
        display: flex;
        margin-top: 16px;
    }
    &__left {
        flex-grow: 1;
    }
    &__right {
        width: 360px;
        margin-left: 24px;
        flex-shrink: 0;
    }
    .cart-card {
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.cart-info {
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    padding: 18px 18px 24px;
    max-width: 450px;
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    &__items {
        margin-top: 14px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 157%;
        &-desc {
            font-weight: 700;
        }
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    &__all {
        padding: 18px 0 0;
        margin-top: 18px;
        border-top: 1px solid #F1F1F1;
        font-size: 14px;
        line-height: 157%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-desc {
            font-weight: 700;
            color: $primary;
        }
    }
    &__form {
        display: flex;
        margin-top: 16px;
        input {
            height: 40px;
            padding: 0 14px;
        }
        &-btn {
            margin-left: 12px;
            width: 138px;
            height: 40px;
            flex-shrink: 0;
            svg {
                display: none;
            }
        }
        .form-group {
            flex-grow: 1;
        }
    }
    &__btn {
        width: 240px;
        height: 48px;
        margin: 24px auto 0;
        font-weight: 700;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 157%;
        margin-top: 12px;
        display: block;
        text-align: center;
        text-decoration-line: underline;
        color: $primary;
    }
}

@media screen and (max-width: 992px) {
    .cart {
        padding: 25px 0;
        &__inner {
            display: block;
            margin-top: 10px;
        }
        &__right {
            margin: 45px 0 0 0;
            width: 100%;
        }
        &__title {
            margin-top: 20px;
        }
    }
    .cart-info {
        padding: 25px 20px;
    }
}

@media screen and (max-width: 450px) {
    .cart-info {
        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__all {
            margin-top: 20px;
            padding: 20px 0;
            border-bottom: 1px solid #f1f1f1;
        }
        &__form {
            margin-top: 20px;
            &-btn {
                width: 40px;
                margin-left: 8px;
                span {
                    display: none;
                }
                svg {
                    display: unset;
                }
                &:hover {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
        &__btn {
            margin-top: 30px;
        }
        &__link {
            margin-top: 20px;
        }
    }
}