@import "../vars.scss";
@import "../mixins.scss";
.main {
    padding-bottom: 32px;
    &__banners{
        display: flex;
    }
    &__banner{
        flex-grow: 1;
        margin-left: 24px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    &__slider {
        width: 74.3%;
        position: relative;
        img {
            display: block;
            width: 100%;
            border-radius: 6px;
        }
    }
    .swiper {
        &-container{
            overflow: hidden;
        }
        &-button{
            &-prev,
            &-next{
                width: unset;
                background-color: transparent;
                border: none;
                rect{
                    transition: all .3s;
                }
                &:hover{
                    rect{
                        fill:$primary;
                    }
                }
            }
            &-prev{
                left: 32px;
            }
            &-next{
                right: 32px;
            }
        }
        &-pagination {
            //display: none;
            &-bullet{
                border: 1px solid #FFFFFF;
                background-color: transparent;
                opacity: 1;
                &-active{
                    width: 5px;
                    background-color: #fff;
                }
            }
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 24px;
        margin-top: 24px;
        &-title {
            margin-top: 40px;
        }
    }
    &__item {
        padding: 12px;
        font-size: 14px;
        line-height: 135%;
        border: 1px solid #F1F1F1;
        border-radius: 6px;
        height: 140px;
        text-align: center;
        font-weight: 500;
        &:hover {
            color: $black;
            box-shadow: 0px 0px 14px rgba(74, 74, 74, 0.09);
        }
        &-icon{
            width: 65px;
            height: 65px;
            margin: 0 auto 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

.advantages {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &__item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 143%;
        &-icon {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            flex-shrink: 0;
            background-color: rgba($primary, .2);
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.collection {
    padding: 36px 0;
    overflow: hidden;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    .swiper {
        &-wrapper {
            align-items: stretch;
        }
        &-slide {
            height: auto;
            opacity: 0;
            pointer-events: none;
            &-next+.swiper-slide+.swiper-slide+.swiper-slide {
                @media screen and (min-width: 1150px) {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
            &-next+.swiper-slide+.swiper-slide {
                @media screen and (min-width: 992px) {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
            &-next+.swiper-slide,
            &-next {
                @media screen and (min-width: 768px) {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
            &-active {
                opacity: 1;
                pointer-events: unset;
            }
        }
        &-button {
            &-prev,
            &-next {
                position: static;
                margin: 0;
                margin-left: 10px;
            }
        }
    }
    &__slider {
        margin-top: 24px;
    }
    .catalog-card {
        height: 100%;
    }
}

.news-index {
    padding: 36px 0;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        @include linearText;
        &:hover {
            opacity: 0.8;
        }
    }
}

.about-index {
    padding: 44px 0 48px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 12px));
        gap: 24px;
    }
    &__text {
        padding-top: 14px;
    }
    &__desc {
        margin-top: 16px;
    }
    &__img {
        img {
            border-radius: 6px;
            width: 100%;
            display: block;
        }
    }
    &__btn {
        margin-top: 29px;
        padding: 0 54px;
        height: 48px;
        display: inline-flex;
    }
}

.map {
    padding: 48px 0;
    &__inner {
        height: 340px;
        border-radius: 8px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1100px) {
    .main {
        &__items {
            grid-template-columns: repeat(5,1fr);
        }
    }
    .advantages {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding: 20px 0 25px;
        &__slider{
            width: 100%;
        }
        &__banner{
            display: none;
        }
        .swiper {
            &-button{
                &-prev,
                &-next{
                    display: none;
                }
            }
            &-pagination {
                position: static;
                margin-top: 15px;
                &-bullet{
                    border-color: $primary;
                    &-active{
                        background-color: $primary;
                    }
                }
            }
        }
        &__items {
            grid-template-columns: repeat(6,1fr);
            gap: 8px;
            margin: 0;
            &-title {
                display: block;
                margin: 20px 0;
            }
        }
        &__item {
            padding: 12px 8px;
            height: unset;
            text-align: center;
            &-icon {
                height: 55px;
                width: 55px;
            }
            span {
                font-size: 9.62935px;
                line-height: 16px;
                padding-top: 10px;
                margin-top: auto;
            }
        }
    }
    .advantages {
        display: none;
    }
    .collection {
        padding: 25px 0;
    }
    .about-index {
        &__inner {
            grid-template-columns: 1fr;
            position: relative;
            padding-top: 55px;
        }
        &__title {
            position: absolute;
            left: 0;
            top: 0;
        }
        &__img {
            order: -1;
            img {
                max-width: 500px;
            }
        }
        &__text {
            padding: 0;
        }
        &__desc {
            margin: 0;
        }
        &__btn {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 850px) {
    .news-index {
        .news-card {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main{
        &__items{
            grid-template-columns: repeat(4,1fr);
        }
    }
    .advantages {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        &__item {
            &-icon {
                width: 50px;
                height: 50px;
                margin-right: 15px;
            }
        }
    }
    .news-index {
        &__link {
            font-size: 14px;
        }
    }
    .collection {
        .swiper {
            &-slide {
                opacity: 1;
                pointer-events: unset;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .main{
        &__items{
            grid-template-columns: repeat(3,1fr);
        }
    }
    .advantages {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .news-index {
        .news-card {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .about-index {
        &__btn {
            justify-content: unset;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
            width: unset;
            padding: 0;
            height: unset;
            background: transparent !important;
            color: $primary !important;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 400px){
    .main{
        &__items{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
