<div class="catalog-card__top">
    <a href="" class="catalog-card__img">
        <img src="img/@@img.webp" alt="">
    </a>
</div>
<div class="catalog-card__bottom">
    <a href="" class="catalog-card__title">@@title</a>
    <div class="catalog-card__has">
        <img src="img/correct.svg" alt="">
        <span>Есть в наличии</span>
    </div>
    <div class="catalog-card__price">777.00 руб.</div>
    <button class="catalog-card__btn btn btn-orange">
        <span>В корзину</span>
        <img src="img/cart.svg" alt="">
    </button>
</div>