@import "../vars";
@import "../mixins.scss";
.header {
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 58px;
    z-index: 20;
    box-shadow: 0px 4px 10px rgba(202, 202, 202, 0.13);
    &__inner {
        padding: 21px 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__logo {
        width: 248px;
        display: block;
        margin-right: 40px;
        flex-shrink: 0;
        img {
            width: 100%;
            display: block;
        }
    }
    &__info {
        width: calc(100% - 365px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        margin-bottom: 35px;
    }
    &__address {
        display: flex;
        align-items: center;
        svg {
            margin-right: 6px;
        }
        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
        }
        &-hint {
            font-weight: 500;
            font-size: 12px;
            line-height: 167%;
            opacity: 0.45;
        }
    }
    &__contacts {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 40px;
        &-toggler {
            flex-shrink: 0;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-left: 8px;
            background: #F1F1F1;
            &:hover {
                background-color: rgba($primary, .5);
            }
            svg {
                transform: translateY(-1px);
            }
            &--active {
                svg {
                    transform: rotate(180deg) translate(-1px, -2px);
                }
                &~.header__socials {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
        }
        &-backdrop {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        white-space: nowrap;
        svg {
            margin-right: 6px;
        }
    }
    &__socials {
        background-color: #fff;
        position: absolute;
        min-width: 100%;
        left: 0;
        top: 100%;
        margin-top: 12px;
        border: 1px solid #F1F1F1;
        border-radius: 6px;
        padding: 18px 16px;
        opacity: 0;
        pointer-events: none;
        transition: all .225s;
        z-index: 10;
        &-item {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 157%;
            white-space: nowrap;
            img {
                margin-right: 12px;
            }
            &:not(:last-child) {
                margin-bottom: 19px;
            }
        }
    }
    &__btn {
        z-index: 14;
        width: 132px;
        height: 48px;
        flex-shrink: 0;
        font-weight: 700;
        font-size: 14px;
        position: relative;
        &-img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            width: 19px;
        }
        &-close{
            display: none;
            width: 14px;
        }
        &-icon {
            width: 19px;
        }
    }
    &__search {
        margin: 0 24px;
        position: relative;
        input {
            border: 1px solid #F1F1F1;
            border-radius: 6px;
            height: 48px;
            padding: 0 60px 0 25px;
            width: 100%;
            font-size: 14px;
        }
        &-btn {
            position: absolute;
            background: #F1F1F1;
            width: 48px;
            height: 100%;
            border-radius: 0 6px 6px 0;
            top: 0;
            right: 0;
        }
    }
    &__cart {
        display: flex;
        width: 168px;
        height: 48px;
        flex-shrink: 0;
        &-icon {
            height: 100%;
            width: 56px;
            border-radius: 6px 0 0 6px;
            flex-shrink: 0;
        }
        &-price {
            width: 100%;
            height: 100%;
            border-radius: 0 6px 6px 0;
            border: 1px solid #F1F1F1;
            border-left: none;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__mob-buttons,
    &__burger,
    &__toggle-search {
        display: none;
    }
    &__mob-fix {
        flex-grow: 1;
    }
    .menu {
        position: absolute;
        z-index: 12;
        left: 288px;
        top: 100%;
        margin-top: 16px;
        opacity: 0;
        pointer-events: none;
    }
    @media screen and (min-width: 992px) {
        &--hide-nav{
            .nav{
                display: none;
            }
        }
        &--fix {
            z-index: 22;
            //padding: 16px 0 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 5px 12px rgba(51, 51, 51, .1);
            &~.content {
                padding-top: 195px;
            }
            .header {
                &__inner {
                    flex-wrap: nowrap;
                    padding: 16px 0;
                }
                &__logo {
                    width: 246px;
                    margin-bottom: 0;
                }
                &__btn {
                    width: 48px;
                    &-text {
                        display: none;
                    }
                    &-icon {
                        display: block;
                    }
                    &-img{
                        margin: 0;
                    }
                }
                &__search {
                    order: 3;
                }
                &__info {
                    width: unset;
                    flex-grow: unset;
                    margin: 0 24px 0 0;
                    order: 4;
                }
                &__cart {
                    order: 5;
                }
                &__address {
                    display: none;
                }
                &__contacts {
                    margin-left: 0;
                    &-toggler {
                        display: none;
                    }
                }
            }
            .menu {
                left: 286px;
                //margin-top: -10px;
            }
        }
    }
    &--menu-show {
        .menu {
            opacity: 1;
            pointer-events: unset;
            &__backdrop {
                display: block;
            }
            &__inner {
                z-index: 12;
            }
        }
        .header{
            &__btn{
                &-icon{
                    display: none;
                }
                &-close{
                    display: unset;
                }
            }
        }
    }
}

.header-nav {
    border-bottom: 1px solid rgba($black, .05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 21;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 56px;
        position: relative;
        z-index: 2;
    }
    &__right,
    &__links{
        display: flex;
        align-items: center;
    }
    &__link {
        font-size: 14px;
        color: #505050;
        margin-right: 40px;
        &--active {
            color: $primary;
            pointer-events: none;
        }
        &:hover {
            @include linearText;
        }
    }
}

.nav{
    padding: 8px 0 17px;
    background: #FFFFFF;
    .swiper-wrapper{
        align-items: stretch;
    }
    &__inner{
        display: flex;
        align-items: center;
        overflow: hidden;
        transform: translateX(-8px);
    }
    &__link{
        height: auto;
        margin-right: 24px;
        flex-shrink: 0;
        white-space: nowrap;
        font-weight: 500;
        font-size: 14px;
        line-height: 157%;
        width: unset;
        display: flex;
        align-items: center;
        transition: all .3s;
        padding-left: 8px;
        svg{
            margin-right: 6px;
        }
        &--sale{
            font-weight: 700;
            color: $primary;
            margin-right: 16px;
            height: 30px;
            border-radius: 6px;
            padding-right: 8px;
            &:hover{
                background-color: $primary;
                color: #fff;
                path{
                    fill:#fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 16px 0;
        &__phone {
            font-size: 15px;
        }
        &__search {
            margin-left: 16px;
            margin-right: 16px;
        }
        &__cart {
            width: 135px;
        }
        @media screen and (min-width: 992px) {
            &--fix {
                .header {
                    &__logo {
                        width: 200px;
                        margin-right: 16px;
                    }
                    &__info {
                        margin-right: 16px;
                    }
                }
                .menu {
                    left: 216px;
                    &__item {
                        &-hidden {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        border-bottom: 1px solid #F1F1F1;
        position: fixed;
        top: -2px;
        left: 0;
        width: 100%;
        z-index: 20;
        &__inner {
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__logo {
            width: 140px;
            margin: 0;
        }
        &__search {
            width: calc(100% - 46px);
            margin: 0;
            z-index: 20;
            &--active {
                opacity: 1;
                pointer-events: unset;
            }
            input {
                border-radius: 3.32902px;
                height: 35px;
                padding: 0 40px 0 20px;
                font-size: 14px;
            }
            &-btn {
                width: unset;
                height: unset;
                top: 50%;
                transform: translateY(-50%);
                right: 11px;
                background-color: transparent;
                svg {
                    width: 14px;
                    height: auto;
                }
                path {
                    fill: $primary;
                }
            }
        }
        &__cart,
        &__info,
        &__contacts,
        &__btn,
        &__address{
            display: none;
        }
        &__mob {
            &-fix {
                display: flex;
                align-items: center;
                margin-top: 16px;
                width: 100%;
            }
            &-buttons {
                display: flex;
                align-items: center;
            }
            &-btn {
                margin-left: 16px;
            }
        }
        &__burger {
            display: flex;
            width: 35px;
            height: 35px;
            margin-right: 11px;
            border-radius: 3.32902px;
        }
        &__phone {
            font-size: 14px;
            line-height: 120%;
            img {
                margin-right: 4px;
            }
        }
        &__socials {
            padding: 12px;
            &-item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                img {
                    margin-right: 4px;
                }
            }
        }
        .menu {
            margin: 0;
            opacity: 1;
            pointer-events: unset;
            position: fixed;
            left: 0;
            width: 100%;
            top: 107px;
            height: calc(100vh - 107px);
            overflow-y: auto;
            border-radius: 0;
            left: -200%;
            &__inner {
                padding: 0;
            }
            &__backdrop {
                display: none;
            }
        }
        &--menu-show {
            .menu {
                left: 0;
            }
            .header {
                &__btn {
                    border: 1px solid $primary;
                    background: transparent;
                    &-icon {
                        display: none;
                    }
                    &-close {
                        display: block;
                    }
                }
            }
        }
        &--fix {
            .header__mob-fix {
                display: none;
            }
            .menu {
                height: calc(100vh - 55px);
                top: 55px;
            }
        }
    }
    .header-nav {
        position: fixed;
        left: 0;
        width: 100%;
        left: -200%;
        top: 107px;
        height: calc(100vh - 107px);
        overflow-y: auto;
        background: #fff;
        z-index: 13;
        transition: all .225s;
        &--active {
            left: 0;
        }
        &--fix {
            height: calc(100vh - 55px);
            top: 55px;
        }
        .container {
            padding: 0;
        }
        &__inner {
            display: block;
            height: unset;
            overflow: unset;
            padding: 0;
        }
        &__links{
            display: block;
        }
        &__right{
            display: block;
        }
        &::before {
            display: none;
        }
        &__link {
            margin: 0 !important;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            display: block;
            padding: 16px;
            border-top: 1px solid #F1F1F1;
            &:last-child {
                border-bottom: 1px solid #F1F1F1;
            }
        }
    }
    .nav{
        display: none;
    }
}
