<div class="advantages__item">
    <span class="advantages__item-icon">
        <img src="img/advantages-icon.svg" alt="">
    </span>
    <span class="advantages__item-title">Бесплатная доставка,самовывоз</span>
</div>
<div class="advantages__item">
    <span class="advantages__item-icon">
        <img src="img/advantages-icon2.svg" alt="">
    </span>
    <span class="advantages__item-title">Наличный и безналичный расчет</span>
</div>
<div class="advantages__item">
    <span class="advantages__item-icon">
        <img src="img/advantages-icon3.svg" alt="">
    </span>
    <span class="advantages__item-title">Профессиональная консультация</span>
</div>
<div class="advantages__item">
    <span class="advantages__item-icon">
        <img src="img/advantages-icon4.svg" alt="">
    </span>
    <span class="advantages__item-title">Гарантия качества</span>
</div>