<div class="catalog__nav-item">
    <div class="catalog__nav-title">Сортировка по:</div>
    <div class="catalog__nav-select1 custom-select">
        <input readonly type="text">
        <div class="custom-select__dropdown">
            <div class="custom-select__dropdown-inner">
                <div class="custom-select__dropdown-item custom-select__dropdown-item--selected">Популярности</div>
                <div class="custom-select__dropdown-item">Цене</div>
                <div class="custom-select__dropdown-item">Скидка</div>
                <div class="custom-select__dropdown-item">Акции</div>
            </div>
        </div>
    </div>
</div>
<div class="catalog__nav-item catalog__nav-num">
    <div class="catalog__nav-title">На странице:</div>
    <div class="catalog__nav-select2 custom-select">
        <input readonly type="text">
        <div class="custom-select__dropdown">
            <div class="custom-select__dropdown-inner">
                <div class="custom-select__dropdown-item custom-select__dropdown-item--selected">16</div>
                <div class="custom-select__dropdown-item">32</div>
                <div class="custom-select__dropdown-item">64</div>
                <div class="custom-select__dropdown-item">128</div>
            </div>
        </div>
    </div>
</div>