<div class='container'>
    <div class='collection__top'>
        <div class="collection__title display2">@@title</div>
        <div class="collection__nav">
            <div class='swiper-button-prev'>
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.999999 4.99999L0 5.99999L0.999999 6.99999L5.99999 12L6.99999 11L2 5.99999L6.99999 0.999999L5.99999 0L0.999999 4.99999Z" fill="#1D1D1D" fill-opacity="0.2"/>
                </svg>
            </div>
            <div class='swiper-button-next'>
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.99999L7 5.99999L6 6.99999L1.00001 12L7.62939e-06 11L5 5.99999L7.15256e-06 0.999999L1.00001 0L6 4.99999Z" fill="#1D1D1D" fill-opacity="0.2"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="collection__slider">
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog","title":"Беспроводные наушники Apple AirPods Pro MWP22","price":"777.00 руб."})
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog2","title":"Ноутбук Apple MacBook Air 13 2020 Space Gray","price":"3280.00 руб."})
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog3","title":"Умные часы Apple Watch Series 7 GPS 45mm ","price":"1054.00 руб."})
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog4","title":"Беззеркальный фотоаппарат Sony Alpha","price":"2546.00 руб."})
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog5","title":"Экшн-камера Gopro Hero 10 Black CHDHX-101-RW","price":"1570.00 руб."})
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class="catalog-card">
                        @@include('../cards/_catalog-card.html',{"img":"catalog2","title":"Ноутбук Apple MacBook Air 13 2020 Space Gray","price":"3280.00 руб."})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>