<section class='header-nav'>
    <div class='container'>
        <div class='header-nav__inner'>
            <a href="" class="header-nav__link">О нас</a>
            <a href="" class="header-nav__link header-nav__link--active">Акции</a>
            <a href="" class="header-nav__link">Доставка</a>
            <a href="" class="header-nav__link">Оплата</a>
            <a href="" class="header-nav__link">Контакты</a>
            <a href="" class="header-nav__link">Блог</a>
        </div>
    </div>
</section>

<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__info">
                <div class="header__address">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.00001 0C5.69167 0 3 2.69167 3 6.00001C3 6.99318 3.24831 7.9779 3.72035 8.85132L8.67189 17.8066C8.73781 17.926 8.86343 18 9.00001 18C9.13659 18 9.2622 17.926 9.32812 17.8066L14.2815 8.84837C14.7517 7.9779 15 6.99314 15 5.99998C15 2.69167 12.3083 0 9.00001 0ZM9.00001 9C7.34584 9 6.00002 7.65418 6.00002 6.00001C6.00002 4.34584 7.34584 3.00002 9.00001 3.00002C10.6542 3.00002 12 4.34584 12 6.00001C12 7.65418 10.6542 9 9.00001 9Z" fill="#F89D33"/>
                    </svg>
                    <div>
                        <div class="header__address-title">г. Минск, ул. Уличная, д.28</div>
                        <div class="header__address-hint">Время работы: с 8:00 до 22:00</div>
                    </div>
                </div>

                <div class="header__contacts">
                    <div class="header__phones">
                        <a href="tel:+375290000000" class="header__phone">
                            <img src="img/phone.svg" alt="">
                            <span>+ 375 29 000-00-00</span>
                        </a>
                        <a href="tel:+375290000000" class="header__phone">
                            <img src="img/phone.svg" alt="">
                            <span>+ 375 29 000-00-00</span>
                        </a>
                    </div>
                    <button class="header__contacts-toggler btn">
                        <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="10.8984" y="4.94971" width="7" height="1.16667" transform="rotate(135 10.8984 4.94971)" fill="#F89D33"/>
                            <rect x="5.94922" y="9.89941" width="7" height="1.16667" transform="rotate(-135 5.94922 9.89941)" fill="#F89D33"/>
                        </svg>
                    </button>
                    <div class="header__socials">
                        <a href="" class="header__socials-item">
                            <img src="img/viber.svg" alt="">
                            <span>+ 375 29 000-00-00</span>
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/telegram.svg" alt="">
                            <span>+ 375 29 000-00-00</span>
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/whatsapp.svg" alt="">
                            <span>+ 375 29 000-00-00</span>
                        </a>
                    </div>
                </div>

                <button class="header__toggle-search"></button>
            </div>
            <button class="header__btn btn btn-orange">
                <span>Каталог</span>
                <img src="img/arrow.svg" alt="" class="header__btn-arrow">
                <img src="img/catalog-icon.svg" alt="" class="header__btn-icon">
                <img src="img/close.svg" alt="" class="header__btn-close">
            </button>
            <form class="header__search">
                <input type="text" placeholder="Введите название товара...">
                <button class="header__search-btn">
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.9395 12.8735C8.3696 12.8735 9.7588 12.3964 10.887 11.5176L15.1436 15.7741C15.4615 16.0812 15.9682 16.0724 16.2753 15.7544C16.5749 15.4442 16.5749 14.9525 16.2753 14.6423L12.0188 10.3858C14.1994 7.57881 13.6916 3.53554 10.8846 1.35494C8.07756 -0.825663 4.03433 -0.317876 1.85372 2.48915C-0.326884 5.29618 0.180903 9.33944 2.98793 11.52C4.11801 12.3979 5.50846 12.8742 6.9395 12.8735ZM3.51943 3.01819C5.4083 1.12928 8.47077 1.12925 10.3597 3.01812C12.2486 4.90699 12.2486 7.96945 10.3597 9.85835C8.47087 11.7473 5.40841 11.7473 3.5195 9.85842C3.51947 9.85839 3.51947 9.85839 3.51943 9.85835C1.63056 7.98325 1.61943 4.93195 3.49454 3.04308C3.50282 3.03476 3.51111 3.02647 3.51943 3.01819Z" fill="#1D1D1D"/>
                    </svg>
                </button>
            </form>
            <a href="" class="header__cart">
                <div class="header__cart-icon btn btn-orange">
                    <img src="img/cart.svg" alt="">
                </div>
                <div class="header__cart-price">0,00 р</div>
            </a>

            <div class="menu">
                @@include('../menu/_menu.html')
            </div>
        </div>
    </div>
</header>