$font1:'Open Sans',
sans-serif;
$black: #1D1D1D;
$primary: #F89D33;
$blue:#3C91E6;
$red:#DC0D31;
$green:#59B67E;
$primary-gradient: linear-gradient(180deg, #F89D33 0%, #F87933 100%);
$primary-gradient2: linear-gradient(180deg, #D17101 0%, #E25302 100%);